@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.header {
  @media (max-width: 416px) {
    background-color: $menu-white;
  }

  .logo {
    img {
      width: 340px;
    }
    @media (max-width: 416px) {
      width: 70%;
      display: block;
      text-align: center;

      img {
        width: 150px;
      }
    }
  }
}

.menu-navbar {
  padding-left: 0;
  padding-right: 0;

  button {
    border: 0;
  }
}

.menu-item {
  margin: 0 10px;

  a {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: $txt-color !important;

    &.nav-link {
      padding: 7px 20px !important;
    }

    &:hover {
      background-color: $bg-color;
      color: $menu_item-white !important;
      border-radius: 17px;
    }
  }

  &.active {
    a {
      background-color: $bg-color;
      color: $menu_item-white !important;
      border-radius: 17px;
    }
  }
}

.menu-item {
  a {
    &.nav-link {
      @media (max-width: 416px) {
        text-align: center;
        font-weight: bold;
        padding: 23px 0 !important;
      }
    }
  }

  &.active {
    @media (max-width: 416px) {

      a {
        color: $bg-color !important;
        background-color: unset;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .container-fluid {
      padding: 0 !important;
    }
  }
}

.header {
  .container-fluid {
    padding-left: 129px;
    padding-right: 129px;
  }
 
}

.header {
  .close {
    display: none;
  }
}
